body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.user-account a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

.live-auction, .news {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.auction-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.auction-item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auction-item h3 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.auction-item p {
    margin: 0 0 10px 0;
    font-size: 16px;
}

.auction-item button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.auction-item button:hover {
    background-color: #45a049;
}
.user-account a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}


.register {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.register input, .register select, .register button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.register button:hover {
    background-color: #45a049;
}
.login {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login input, .login button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.login button:hover {
    background-color: #45a049;
}